//- adminpanel structure
#admin-panel
    include ../svgiconsmodule/svgicons.pug
    include ../bigpanelmodule/bigpanel.pug
    include ../bottompanelmodule/bottompanel.pug
#admin-panel-visibility-button
    +admin-svg-icon("arrow-left", "admin-panel-show-icon")
    +admin-svg-icon("arrow-right", "admin-panel-hide-icon")
