@import '../adminpanelmodule/styles.styl'
@import '../bigpanelmodule/styles.styl'
@import '../bottompanelmodule/styles.styl'
@import '../imagemanagementmodule/styles.styl'
@import '../linkmanagementmodule/styles.styl'
@import '../listmanagementmodule/styles.styl'
@import '../svgiconsmodule/styles.styl'
@import '../tabspanelmodule/styles.styl'
