//- bigpanel structure
#admin-bigpanel
    #admin-bigpanel-tabheads
        #admin-images-tabhead.admin-bigpanel-tabhead.active Images
        #admin-lists-tabhead.admin-bigpanel-tabhead Lists
        #admin-links-tabhead.admin-bigpanel-tabhead Links
    #admin-bigpanel-tabframe
        #admin-images-tabcontent.admin-bigpanel-tabcontent.active
            .list-element-container
            .edit-element-container
        #admin-lists-tabcontent.admin-bigpanel-tabcontent            
            .list-element-container
            .edit-element-container
        #admin-links-tabcontent.admin-bigpanel-tabcontent
            .list-element-container
            .edit-element-container

            
